
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Firstpage\app.css' %}">

</head>
<body>
    <div class="content1">
      <div class="data">
        <h1>TO DO</h1>
        <img src="{% static 'todo.jpg'%}" alt="" class="bkimage">
        <div class="links">
          <a href="{% url 'signin' %}">SignIn</a><br>
          <a href="{% url 'signup' %}">SignUp</a>
        </div>
      </div>
    </div>


</body>
</html>
